@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  height: 80%;
  width: 80vh;
}

body {
  --sb-track-color: #869682;
  --sb-thumb-color: rgb(29 78 216);
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}
